* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #212121;
  color: whitesmoke;
}

.header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #171717;
}

.items-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.title-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #0d6efd;
}

.title-header a {
  margin: 1vw;
}

.header input {
  margin: 1vh;
  width: 50%;
}

.father {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #212121;
}

.categorias {
  padding-top: 2vh;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #171717;
  
}
.father .categorias a{
  width: 100%;
  height: auto;
  margin: auto;
  text-decoration: none;
  color: black;
}
ul {
  width: 100%;
}

li {
  margin: 1vh;
}

.contenido {
  height: 100%;
  width: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-responsive {
  width: 95%;
  background: #171717;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: whitesmoke;
}

th,
td {
  border: 1px solid #555;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #343a40;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  background: #343a40;
  border: 1px solid #555;
  color: whitesmoke;
}

@media (max-width: 1400px) {
  .header {
    width: 100%;
  }

  .items-header {
    width: 60%;
  }

  .father {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .items-header .btn {
    font-size: 15px;
  }
}
